.field {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*
    INPUT
*/

.input {
  padding: 5px;

  border: none;
  border-radius: 5px;
  outline: 2px solid white;
  outline-offset: 2px;

  transition: outline-offset 200ms ease;
}

.input:hover {
  outline: 2px solid blue;
  outline-offset: 6px;
}

.neutral {
  outline: 2px solid white;
}

.valid {
  outline: 2px solid green;
  background-color: rgba(0, 128, 0, 0.7);
}

.invalid {
  outline: 2px solid red;
  background-color: rgba(255, 0, 0, 0.7);
}

/*
    PASSWORD EYE SVG
*/

.passwordVisibilitySvg {
  position: absolute;
  left: 325px;
  bottom: 2px;

  width: 30px;
  height: auto;

  cursor: pointer;
}

/*
    REQUIREMENTS
*/

.hidden {
  display: none;
}

.visible {
  display: block;

  animation: dropdown 1000ms ease;
  transform-origin: top;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.passwordStrengthCont {
  height: 20px;

  padding: 5px;

  border: 1px solid white;
  border-radius: 10px;
}

.passwordStrengthBar {
  height: 100%;

  border-radius: 5px;

  overflow: hidden;

  transition: width 500ms ease;
}

.passwordRequirements {
  list-style: none;
}

.passwordRequirements li {
  display: flex;
  align-items: center;
  gap: 10px;

  opacity: 0;
  animation: fadeDown 1000ms forwards;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.passwordRequirements li:nth-child(1) {
  animation-delay: 0.15s;
}

.passwordRequirements li:nth-child(2) {
  animation-delay: 0.2s;
}

.passwordRequirements li:nth-child(3) {
  animation-delay: 0.25s;
}

.passwordRequirements li:nth-child(4) {
  animation-delay: 0.3s;
}

.passwordRequirements li:nth-child(5) {
  animation-delay: 0.35s;
}

.requirementIcon {
  width: 10px;
  height: auto;
}

.completed {
  color: green;
}

.tickSvg {
  filter: invert(27%) sepia(86%) saturate(1273%) hue-rotate(91deg)
    brightness(100%) contrast(104%);
}

.uncompleted {
  color: red;
}

.crossSvg {
  filter: invert(16%) sepia(85%) saturate(7488%) hue-rotate(0deg)
    brightness(92%) contrast(119%);
}
