.ExplorerItem {
  width: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  padding: 10px 15px;

  border: none;
  border-radius: 5px;

  outline: none;
  outline-offset: 0px;

  transition: outline-offset 200ms ease;

  background-color: rgba(0, 123, 255, 0.3);

  cursor: pointer;
}

.ExplorerItem:hover {
  outline-offset: 3px;

  background-color: rgba(0, 123, 255, 0.5);
}

.ExplorerItem > img {
  width: 50px;
  height: auto;

  filter: contrast(0) brightness(10);
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name h3 {
  font-weight: 600;
  text-align: center;
}

.name h3:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.buttons > img{
    width: 20px;
    height: auto;

    padding: 2px;

    border: 1px solid white;
    border-radius: 2px;

    filter: contrast(0) brightness(10);
}

/*
    SPECS WINDOW
*/

.specsBg {
    position: absolute;
    left: 0px;
    top: 0px;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.specsWndw {
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding: 20px;

    border: 2px solid white;
    border-radius: 10px;

    background-color: rgb(12, 120, 203);
}

.specsWndw img {
  width: 60px;
  height: auto;
}

.specsWndw h2 {
    text-align: center;
}