.passwordCont {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.passwordVisibilitySvg {
    position: absolute;
    left: 400px;
    bottom: 4px;

    width: 30px;
    height: auto;

    cursor: pointer;
}

.passwordStrengthCont {
    height: 20px;

    padding: 5px;

    border: 1px solid white;
    border-radius: 10px;
}

.passwordStrengthBar {
    height: 100%;

    border-radius: 5px;

    overflow: hidden;

    transition: width 500ms ease;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}