.register {
    display: flex;
    flex-direction: row;

    padding: 150px 200px;
}

.registerLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px 80px;
    margin-right: 200px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerForm, * {
    width: 100%;
}

.registerForm label > input {
    padding: 5px;

    border: none;
    outline: 1px solid black;
    border-radius: 5px;
    
    transition: outline-offset 200ms ease;
}

.registerForm label > input:focus, .registerForm label > input:hover {
    outline: 1px solid rgb(17, 76, 255);

    background-color: transparent;
}

.registerForm label > input:hover {
    outline-offset: 2px;
}

.registerForm label > input:focus {
    background-color: rgba(17, 76, 255, 0.6);
}

.registerForm label > input:valid {
    outline: 1px solid rgb(7, 150, 7);

    background-color: rgba(7, 150, 7, 0.4);
}

.registerForm label > input:user-invalid {
    outline: 1px solid rgb(155, 7, 7);

    background-color: rgba(155, 7, 7, 0.4);
}

.serverErr {
    display: flex;
    align-items: center;
    gap: 5px;

    color: red;
}

.warningSvg {
    width: 40px;
    height: auto;

    filter: invert(16%) sepia(85%) saturate(7488%) hue-rotate(0deg) brightness(92%) contrast(119%);
}

.registerForm button[type=submit] {
    padding: 5px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: transparent;

    transition: background-color 500ms ease;
}

.registerForm button[type=submit]:hover, .registerForm button[type=submit]:active {
    border: 1px solid rgb(17, 76, 255);

    background-color: rgba(17, 76, 255, 0.4);
}