.register {
    display: flex;
    flex-direction: row;

    padding: 150px 200px;
}

.registerLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px 80px;
    margin-right: 200px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
