.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: rgba(0, 72, 255, 0.7);
}

.newDropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.show {
    padding: 10px;

    border: 1px solid white;
    border-radius: 5px;
}

.createFolder {
    position: absolute;
    left: 0px;
    top: 0px;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.6);
}

.createFolderWindow {
    height: 400px;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 
    padding: 20px;

    border: 2px solid white;

    background-color: blue;
}

.createFolderWindow img {
    width: 120px;
    height: auto;
}

.fileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
}

.fileInputLabel {
    display: inline-block;

    padding: 5px;

    border: none;
    border-radius: 5px;

    outline: 1px solid white;
    outline-offset: 2px;

    background-color: transparent;

    color: white;
    font-weight: 600;
    font-size: 18px;

    text-align: center;
    text-decoration: none;

    transition: outline-offset 200ms ease;
}

.fileInputLabel:hover {
    outline-offset: 4px;
    background-color: white;
    color: blue;
}

.fileInput {
    position: absolute;

    width: 1px;
    height: 1px;

    margin: -1px;
    padding: 0px;
    
    border: 0;
    
    overflow: hidden;
    white-space: nowrap;

    clip: rect(0, 0, 0, 0);
}

.sidebar .link {
    padding: 5px;

    border: none;
    border-radius: 5px;

    outline: 1px solid white;
    outline-offset: 2px;

    background-color: transparent;

    color: white;
    font-weight: 600;
    font-size: 18px;
    
    text-align: center;
    text-decoration: none;

    transition: outline-offset 200ms ease;
}

.sidebar .link:hover {
    outline-offset: 4px;

    background-color: white;

    color: blue;
}